## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [1]:
import tensorflow as tf
import numpy as np
tf.enable_eager_execution()

C:\Users\neeha\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
#from google.colab import drive
#drive.mount('/gdrive')

In [4]:
import pandas as pd

In [5]:
data_prices = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [6]:
data_prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [7]:
data_prices.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [8]:
data_prices.describe()

,open,close,low,high,volume
count,851264.000000,851264.000000,851264.000000,851264.000000,8.512640e+05
mean,70.836986,70.857109,70.118414,71.543476,5.415113e+06
std,83.695876,83.689686,82.877294,84.465504,1.249468e+07
min,0.850000,0.860000,0.830000,0.880000,0.000000e+00
25%,33.840000,33.849998,33.480000,34.189999,1.221500e+06
50%,52.770000,52.799999,52.230000,53.310001,2.476250e+06
75%,79.879997,79.889999,79.110001,80.610001,5.222500e+06
max,1584.439941,1578.130005,1549.939941,1600.930054,8.596434e+08

### Drop columns `date` and  `symbol`

In [9]:
data_prices=data_prices[[ 'open', 'close', 'low', 'high', 'volume']]

In [10]:
data_prices.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [11]:
data_prices['volume']=data_prices['volume']/1000000

In [12]:
data_prices=data_prices.head(1000)

In [13]:
data_prices.shape

(1000, 5)

### Divide the data into train and test sets

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
y=data_prices['volume']
X=data_prices[[ 'open', 'close', 'low', 'high']]

In [88]:
X_arr=np.array(X).astype(np.float32)
y_arr=np.array(y).astype(np.float32)

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X_arr, y_arr, test_size=0.2, random_state=42)

#### Convert Training and Test Data to numpy float32 arrays

In [90]:
#X_train_arr=np.array(X_train).astype(np.float32)
X_test.dtype

dtype('float32')

In [91]:
#X_test_arr=np.array(X_test).astype(np.float32)
X_train.dtype

dtype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [92]:
from sklearn.preprocessing import Normalizer

nm=Normalizer()

In [93]:
X_train=nm.fit_transform(X_train)
X_test=nm.transform(X_test)

In [94]:
X_train.shape

(800, 4)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [170]:
W = tf.Variable(tf.zeros(shape=[4,1]), name="Weights")
b = tf.Variable(tf.zeros(shape=[1]),name="Bias")

2.Define a function to calculate prediction

In [171]:
def predict_model(X_train,W,b):#X_train
    return tf.add(tf.matmul(X_train,W),b,name='output')

3.Loss (Cost) Function [Mean square error]

In [172]:
def loss_func(y,y_pred):#y_train, y_ for prediction
    return tf.reduce_mean(tf.square(y-y_pred),name='mse')

In [173]:
def train(X, y, W, b):#X_train & y_train
    with tf.GradientTape() as t:
        t.watch([W,b])
        y_pred=predict_model(X,W,b)
        loss=loss_func(y,y_pred) 
    DW,Db =t.gradient(loss,[W,b])
    W=W-DW*0.03
    b=b-Db*0.03
    return W,b,loss

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [175]:
W,b,l = train(X_train, y_train, W, b) #Training by passing X_train and y_train

In [176]:
l

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Test loss at every 5th iteration

In [177]:
epochs =100

In [179]:
for epoch in range(epochs):
    y_pred=predict_model(X_train,W,b)
    loss=loss_func(y_train,y_pred)
    W,b,l =train(X_train, y_train, W, b)
    
    print(epoch,loss)

0 tf.Tensor(223.2096, shape=(), dtype=float32)
1 tf.Tensor(218.48, shape=(), dtype=float32)
2 tf.Tensor(214.81747, shape=(), dtype=float32)
3 tf.Tensor(211.9812, shape=(), dtype=float32)
4 tf.Tensor(209.78473, shape=(), dtype=float32)
5 tf.Tensor(208.0838, shape=(), dtype=float32)
6 tf.Tensor(206.76657, shape=(), dtype=float32)
7 tf.Tensor(205.74644, shape=(), dtype=float32)
8 tf.Tensor(204.9565, shape=(), dtype=float32)
9 tf.Tensor(204.34483, shape=(), dtype=float32)
10 tf.Tensor(203.87103, shape=(), dtype=float32)
11 tf.Tensor(203.50421, shape=(), dtype=float32)
12 tf.Tensor(203.22014, shape=(), dtype=float32)
13 tf.Tensor(203.00009, shape=(), dtype=float32)
14 tf.Tensor(202.82977, shape=(), dtype=float32)
15 tf.Tensor(202.6978, shape=(), dtype=float32)
16 tf.Tensor(202.59567, shape=(), dtype=float32)
17 tf.Tensor(202.51657, shape=(), dtype=float32)
18 tf.Tensor(202.4552, shape=(), dtype=float32)
19 tf.Tensor(202.40773, shape=(), dtype=float32)
20 tf.Tensor(202.3711, shape=(), dtype=float32)
21 tf.Tensor(202.34259, shape=(), dtype=float32)
22 tf.Tensor(202.3205, shape=(), dtype=float32)
23 tf.Tensor(202.30345, shape=(), dtype=float32)
24 tf.Tensor(202.29025, shape=(), dtype=float32)
25 tf.Tensor(202.28004, shape=(), dtype=float32)
26 tf.Tensor(202.27219, shape=(), dtype=float32)
27 tf.Tensor(202.26593, shape=(), dtype=float32)
28 tf.Tensor(202.2612, shape=(), dtype=float32)
29 tf.Tensor(202.2575, shape=(), dtype=float32)
30 tf.Tensor(202.25468, shape=(), dtype=float32)
31 tf.Tensor(202.2525, shape=(), dtype=float32)
32 tf.Tensor(202.25078, shape=(), dtype=float32)
33 tf.Tensor(202.2495, shape=(), dtype=float32)
34 tf.Tensor(202.2484, shape=(), dtype=float32)
35 tf.Tensor(202.24765, shape=(), dtype=float32)
36 tf.Tensor(202.247, shape=(), dtype=float32)
37 tf.Tensor(202.2466, shape=(), dtype=float32)
38 tf.Tensor(202.24617, shape=(), dtype=float32)
39 tf.Tensor(202.24588, shape=(), dtype=float32)
40 tf.Tensor(202.2457, shape=(), dtype=float32)
41 tf.Tensor(202.24557, shape=(), dtype=float32)
42 tf.Tensor(202.24532, shape=(), dtype=float32)
43 tf.Tensor(202.24521, shape=(), dtype=float32)
44 tf.Tensor(202.24518, shape=(), dtype=float32)
45 tf.Tensor(202.2451, shape=(), dtype=float32)
46 tf.Tensor(202.24509, shape=(), dtype=float32)
47 tf.Tensor(202.245, shape=(), dtype=float32)
48 tf.Tensor(202.245, shape=(), dtype=float32)
49 tf.Tensor(202.24498, shape=(), dtype=float32)
50 tf.Tensor(202.24501, shape=(), dtype=float32)
51 tf.Tensor(202.24489, shape=(), dtype=float32)
52 tf.Tensor(202.24492, shape=(), dtype=float32)
53 tf.Tensor(202.2449, shape=(), dtype=float32)
54 tf.Tensor(202.24498, shape=(), dtype=float32)
55 tf.Tensor(202.24498, shape=(), dtype=float32)
56 tf.Tensor(202.24489, shape=(), dtype=float32)
57 tf.Tensor(202.24489, shape=(), dtype=float32)
58 tf.Tensor(202.2449, shape=(), dtype=float32)
59 tf.Tensor(202.24489, shape=(), dtype=float32)
60 tf.Tensor(202.2449, shape=(), dtype=float32)
61 tf.Tensor(202.24487, shape=(), dtype=float32)
62 tf.Tensor(202.2448, shape=(), dtype=float32)
63 tf.Tensor(202.2448, shape=(), dtype=float32)
64 tf.Tensor(202.2449, shape=(), dtype=float32)
65 tf.Tensor(202.2449, shape=(), dtype=float32)
66 tf.Tensor(202.2449, shape=(), dtype=float32)
67 tf.Tensor(202.2449, shape=(), dtype=float32)
68 tf.Tensor(202.24489, shape=(), dtype=float32)
69 tf.Tensor(202.2449, shape=(), dtype=float32)
70 tf.Tensor(202.24492, shape=(), dtype=float32)
71 tf.Tensor(202.24495, shape=(), dtype=float32)
72 tf.Tensor(202.2449, shape=(), dtype=float32)
73 tf.Tensor(202.24489, shape=(), dtype=float32)
74 tf.Tensor(202.2449, shape=(), dtype=float32)
75 tf.Tensor(202.2449, shape=(), dtype=float32)
76 tf.Tensor(202.2449, shape=(), dtype=float32)
77 tf.Tensor(202.2449, shape=(), dtype=float32)
78 tf.Tensor(202.2449, shape=(), dtype=float32)
79 tf.Tensor(202.2449, shape=(), dtype=float32)
80 tf.Tensor(202.2449, shape=(), dtype=float32)
81 tf.Tensor(202.2449, shape=(), dtype=float32)
82 tf.Tensor(202.2449, shape=(), dtype=float32)
83 tf.Tensor(202.2449, shape=(), dtype=float32)
84 tf.Tensor(202.2449, shape=(), dtype=float32)
85 tf.Tensor(202.2449, shape=(), dtype=float32)
86 tf.Tensor(202.2449, shape=(), dtype=float32)
87 tf.Tensor(202.2449, shape=(), dtype=float32)
88 tf.Tensor(202.24489, shape=(), dtype=float32)
89 tf.Tensor(202.24489, shape=(), dtype=float32)
90 tf.Tensor(202.24489, shape=(), dtype=float32)
91 tf.Tensor(202.24489, shape=(), dtype=float32)
92 tf.Tensor(202.24489, shape=(), dtype=float32)
93 tf.Tensor(202.24489, shape=(), dtype=float32)
94 tf.Tensor(202.2449, shape=(), dtype=float32)
95 tf.Tensor(202.24489, shape=(), dtype=float32)
96 tf.Tensor(202.24489, shape=(), dtype=float32)
97 tf.Tensor(202.24489, shape=(), dtype=float32)
98 tf.Tensor(202.24489, shape=(), dtype=float32)
99 tf.Tensor(202.2449, shape=(), dtype=float32)

### Get the shapes and values of W and b

In [166]:
W.shape

TensorShape([Dimension(4), Dimension(1)])

In [167]:
b.shape

TensorShape([Dimension(1)])

### Model Prediction on 1st Examples in Test Dataset

In [180]:
y_test_pred=predict_model(X_test[0],W,b)

In [184]:
y_test_pred[0]

In [185]:
y_test[0]

2.6424

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load tensorflow if not done already

In [78]:
import pandas as pd

### Load the given Iris data using pandas (Iris.csv)

In [79]:
data_Iris = pd.read_csv('Iris.csv')

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [80]:
data_Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [81]:
data_Iris=pd.get_dummies(data_Iris)

In [82]:
data_Iris.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.1,3.5,1.4,0.2,1,0,0
1,2,4.9,3.0,1.4,0.2,1,0,0
2,3,4.7,3.2,1.3,0.2,1,0,0
3,4,4.6,3.1,1.5,0.2,1,0,0
4,5,5.0,3.6,1.4,0.2,1,0,0

### Splitting the data into feature set and target set

In [83]:
X = data_Iris.iloc[:,1:5].values
Y = data_Iris.iloc[:,5:8].values

In [84]:
Y.shape

(150, 3)

### Divide the dataset into Training and test (70:30)

In [85]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [86]:
import tensorflow as tf
import pandas as pd
import numpy as np

#Initialize Sequential Graph (model)
model = tf.keras.models.Sequential()

#Normalize input data
#Input Layer
model.add(tf.keras.layers.BatchNormalization(input_shape=(4,)))

#Add Dense layer for prediction - Keras declares weights and bias automatically

#Hidden layers
model.add(tf.keras.layers.Dense(4,activation='tanh'))
model.add(tf.keras.layers.Dense(4,activation='tanh'))

#outputlayer
model.add(tf.keras.layers.Dense(3,activation='softmax'))

#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='categorical_crossentropy') # we can use mae also (Mean absolute error)

### Model Training

In [87]:
model.fit(X_train, y_train, epochs=100,validation_data=[X_test,y_test])

Train on 105 samples, validate on 45 samples
Epoch 1/100
105/105 [==============================] - 1s 8ms/sample - loss: 0.9042 - val_loss: 1.0416
Epoch 2/100
105/105 [==============================] - 0s 160us/sample - loss: 0.8924 - val_loss: 1.0346
Epoch 3/100
105/105 [==============================] - 0s 164us/sample - loss: 0.8776 - val_loss: 1.0285
Epoch 4/100
105/105 [==============================] - 0s 163us/sample - loss: 0.8745 - val_loss: 1.0217
Epoch 5/100
105/105 [==============================] - 0s 186us/sample - loss: 0.8639 - val_loss: 1.0147
Epoch 6/100
105/105 [==============================] - 0s 176us/sample - loss: 0.8476 - val_loss: 1.0079
Epoch 7/100
105/105 [==============================] - 0s 230us/sample - loss: 0.8477 - val_loss: 1.0012
Epoch 8/100
105/105 [==============================] - 0s 124us/sample - loss: 0.8255 - val_loss: 0.9949
Epoch 9/100
105/105 [==============================] - 0s 115us/sample - loss: 0.8233 - val_loss: 0.9881
Epoch 10/100
105/105 [==============================] - 0s 88us/sample - loss: 0.8130 - val_loss: 0.9827
Epoch 11/100
105/105 [==============================] - 0s 91us/sample - loss: 0.8018 - val_loss: 0.9763
Epoch 12/100
105/105 [==============================] - 0s 100us/sample - loss: 0.7891 - val_loss: 0.9699
Epoch 13/100
105/105 [==============================] - 0s 98us/sample - loss: 0.7915 - val_loss: 0.9630
Epoch 14/100
105/105 [==============================] - 0s 127us/sample - loss: 0.7745 - val_loss: 0.9556
Epoch 15/100
105/105 [==============================] - 0s 104us/sample - loss: 0.7604 - val_loss: 0.9475
Epoch 16/100
105/105 [==============================] - 0s 134us/sample - loss: 0.7642 - val_loss: 0.9405
Epoch 17/100
105/105 [==============================] - 0s 112us/sample - loss: 0.7629 - val_loss: 0.9322
Epoch 18/100
105/105 [==============================] - 0s 110us/sample - loss: 0.7496 - val_loss: 0.9227
Epoch 19/100
105/105 [==============================] - 0s 114us/sample - loss: 0.7239 - val_loss: 0.9131
Epoch 20/100
105/105 [==============================] - 0s 86us/sample - loss: 0.7350 - val_loss: 0.9024
Epoch 21/100
105/105 [==============================] - 0s 116us/sample - loss: 0.7111 - val_loss: 0.8914
Epoch 22/100
105/105 [==============================] - 0s 136us/sample - loss: 0.7115 - val_loss: 0.8807
Epoch 23/100
105/105 [==============================] - 0s 95us/sample - loss: 0.7086 - val_loss: 0.8684
Epoch 24/100
105/105 [==============================] - 0s 86us/sample - loss: 0.6936 - val_loss: 0.8550
Epoch 25/100
105/105 [==============================] - 0s 85us/sample - loss: 0.6831 - val_loss: 0.8410
Epoch 26/100
105/105 [==============================] - 0s 96us/sample - loss: 0.6790 - val_loss: 0.8281
Epoch 27/100
105/105 [==============================] - 0s 119us/sample - loss: 0.6689 - val_loss: 0.8142
Epoch 28/100
105/105 [==============================] - 0s 96us/sample - loss: 0.6604 - val_loss: 0.7996
Epoch 29/100
105/105 [==============================] - 0s 126us/sample - loss: 0.6621 - val_loss: 0.7859
Epoch 30/100
105/105 [==============================] - 0s 95us/sample - loss: 0.6521 - val_loss: 0.7725
Epoch 31/100
105/105 [==============================] - 0s 116us/sample - loss: 0.6397 - val_loss: 0.7587
Epoch 32/100
105/105 [==============================] - 0s 88us/sample - loss: 0.6435 - val_loss: 0.7449
Epoch 33/100
105/105 [==============================] - 0s 131us/sample - loss: 0.6282 - val_loss: 0.7315
Epoch 34/100
105/105 [==============================] - 0s 129us/sample - loss: 0.6552 - val_loss: 0.7186
Epoch 35/100
105/105 [==============================] - 0s 82us/sample - loss: 0.6281 - val_loss: 0.7050
Epoch 36/100
105/105 [==============================] - 0s 98us/sample - loss: 0.6128 - val_loss: 0.6955
Epoch 37/100
105/105 [==============================] - 0s 116us/sample - loss: 0.6189 - val_loss: 0.6833
Epoch 38/100
105/105 [==============================] - 0s 87us/sample - loss: 0.6239 - val_loss: 0.6725
Epoch 39/100
105/105 [==============================] - 0s 97us/sample - loss: 0.5893 - val_loss: 0.6630
Epoch 40/100
105/105 [==============================] - 0s 86us/sample - loss: 0.5793 - val_loss: 0.6535
Epoch 41/100
105/105 [==============================] - 0s 64us/sample - loss: 0.6036 - val_loss: 0.6443
Epoch 42/100
105/105 [==============================] - 0s 85us/sample - loss: 0.5888 - val_loss: 0.6349
Epoch 43/100
105/105 [==============================] - 0s 83us/sample - loss: 0.6150 - val_loss: 0.6296
Epoch 44/100
105/105 [==============================] - 0s 113us/sample - loss: 0.5607 - val_loss: 0.6232
Epoch 45/100
105/105 [==============================] - 0s 102us/sample - loss: 0.5747 - val_loss: 0.6137
Epoch 46/100
105/105 [==============================] - 0s 114us/sample - loss: 0.5541 - val_loss: 0.6063
Epoch 47/100
105/105 [==============================] - 0s 75us/sample - loss: 0.5601 - val_loss: 0.5980
Epoch 48/100
105/105 [==============================] - 0s 112us/sample - loss: 0.5497 - val_loss: 0.5922
Epoch 49/100
105/105 [==============================] - 0s 98us/sample - loss: 0.5495 - val_loss: 0.5841
Epoch 50/100
105/105 [==============================] - 0s 102us/sample - loss: 0.5588 - val_loss: 0.5769
Epoch 51/100
105/105 [==============================] - 0s 105us/sample - loss: 0.5411 - val_loss: 0.5687
Epoch 52/100
105/105 [==============================] - 0s 102us/sample - loss: 0.5304 - val_loss: 0.5641
Epoch 53/100
105/105 [==============================] - 0s 117us/sample - loss: 0.5540 - val_loss: 0.5607
Epoch 54/100
105/105 [==============================] - 0s 59us/sample - loss: 0.5193 - val_loss: 0.5555
Epoch 55/100
105/105 [==============================] - 0s 92us/sample - loss: 0.5186 - val_loss: 0.5491
Epoch 56/100
105/105 [==============================] - 0s 128us/sample - loss: 0.5222 - val_loss: 0.5444
Epoch 57/100
105/105 [==============================] - 0s 74us/sample - loss: 0.5312 - val_loss: 0.5387
Epoch 58/100
105/105 [==============================] - 0s 121us/sample - loss: 0.5023 - val_loss: 0.5305
Epoch 59/100
105/105 [==============================] - 0s 95us/sample - loss: 0.5136 - val_loss: 0.5252
Epoch 60/100
105/105 [==============================] - 0s 98us/sample - loss: 0.5156 - val_loss: 0.5194
Epoch 61/100
105/105 [==============================] - 0s 113us/sample - loss: 0.5163 - val_loss: 0.5152
Epoch 62/100
105/105 [==============================] - 0s 97us/sample - loss: 0.5054 - val_loss: 0.5107
Epoch 63/100
105/105 [==============================] - 0s 67us/sample - loss: 0.4833 - val_loss: 0.5061
Epoch 64/100
105/105 [==============================] - 0s 96us/sample - loss: 0.5020 - val_loss: 0.4998
Epoch 65/100
105/105 [==============================] - 0s 94us/sample - loss: 0.4983 - val_loss: 0.4927
Epoch 66/100
105/105 [==============================] - 0s 71us/sample - loss: 0.5066 - val_loss: 0.4902
Epoch 67/100
105/105 [==============================] - 0s 106us/sample - loss: 0.4654 - val_loss: 0.4853
Epoch 68/100
105/105 [==============================] - 0s 116us/sample - loss: 0.4736 - val_loss: 0.4795
Epoch 69/100
105/105 [==============================] - 0s 103us/sample - loss: 0.4431 - val_loss: 0.4759
Epoch 70/100
105/105 [==============================] - 0s 82us/sample - loss: 0.4596 - val_loss: 0.4696
Epoch 71/100
105/105 [==============================] - 0s 137us/sample - loss: 0.4694 - val_loss: 0.4660
Epoch 72/100
105/105 [==============================] - 0s 111us/sample - loss: 0.4895 - val_loss: 0.4644
Epoch 73/100
105/105 [==============================] - 0s 45us/sample - loss: 0.4635 - val_loss: 0.4601
Epoch 74/100
105/105 [==============================] - 0s 114us/sample - loss: 0.4468 - val_loss: 0.4549
Epoch 75/100
105/105 [==============================] - 0s 96us/sample - loss: 0.4463 - val_loss: 0.4518
Epoch 76/100
105/105 [==============================] - 0s 69us/sample - loss: 0.4437 - val_loss: 0.4484
Epoch 77/100
105/105 [==============================] - 0s 124us/sample - loss: 0.4474 - val_loss: 0.4458
Epoch 78/100

105/105 [==============================] - 0s 93us/sample - loss: 0.4407 - val_loss: 0.4404
Epoch 79/100
105/105 [==============================] - 0s 76us/sample - loss: 0.4443 - val_loss: 0.4342
Epoch 80/100
105/105 [==============================] - 0s 102us/sample - loss: 0.4378 - val_loss: 0.4299
Epoch 81/100
105/105 [==============================] - 0s 103us/sample - loss: 0.4241 - val_loss: 0.4262
Epoch 82/100
105/105 [==============================] - 0s 53us/sample - loss: 0.4584 - val_loss: 0.4226
Epoch 83/100
105/105 [==============================] - 0s 119us/sample - loss: 0.4288 - val_loss: 0.4192
Epoch 84/100
105/105 [==============================] - 0s 107us/sample - loss: 0.4150 - val_loss: 0.4156
Epoch 85/100
105/105 [==============================] - 0s 83us/sample - loss: 0.4416 - val_loss: 0.4098
Epoch 86/100
105/105 [==============================] - 0s 104us/sample - loss: 0.4158 - val_loss: 0.4068
Epoch 87/100
105/105 [==============================] - 0s 102us/sample - loss: 0.4348 - val_loss: 0.4040
Epoch 88/100
105/105 [==============================] - 0s 113us/sample - loss: 0.4051 - val_loss: 0.4006
Epoch 89/100
105/105 [==============================] - 0s 113us/sample - loss: 0.4077 - val_loss: 0.3971
Epoch 90/100
105/105 [==============================] - 0s 79us/sample - loss: 0.4467 - val_loss: 0.3952
Epoch 91/100
105/105 [==============================] - 0s 141us/sample - loss: 0.4390 - val_loss: 0.3938
Epoch 92/100
105/105 [==============================] - 0s 130us/sample - loss: 0.3956 - val_loss: 0.3910
Epoch 93/100
105/105 [==============================] - 0s 114us/sample - loss: 0.4008 - val_loss: 0.3881
Epoch 94/100
105/105 [==============================] - 0s 83us/sample - loss: 0.4205 - val_loss: 0.3860
Epoch 95/100
105/105 [==============================] - 0s 92us/sample - loss: 0.3915 - val_loss: 0.3843
Epoch 96/100
105/105 [==============================] - 0s 139us/sample - loss: 0.4001 - val_loss: 0.3810
Epoch 97/100
105/105 [==============================] - 0s 112us/sample - loss: 0.4068 - val_loss: 0.3769
Epoch 98/100
105/105 [==============================] - 0s 107us/sample - loss: 0.4041 - val_loss: 0.3750
Epoch 99/100
105/105 [==============================] - 0s 107us/sample - loss: 0.3748 - val_loss: 0.3731
Epoch 100/100
105/105 [==============================] - 0s 85us/sample - loss: 0.3830 - val_loss: 0.3703

### Model Prediction

In [88]:
model.predict(X_test)

array([[0.06757179, 0.69205844, 0.2403697 ],
       [0.8077095 , 0.16089395, 0.03139647],
       [0.03253098, 0.18811189, 0.77935714],
       [0.06708154, 0.44726694, 0.48565152],
       [0.06002674, 0.68524146, 0.25473186],
       [0.7988484 , 0.17037125, 0.03078038],
       [0.13639174, 0.6332974 , 0.2303109 ],
       [0.03420854, 0.16264848, 0.80314296],
       [0.05457136, 0.7769833 , 0.16844533],
       [0.07711798, 0.75691754, 0.16596448],
       [0.03824357, 0.17108506, 0.79067135],
       [0.7992838 , 0.1724534 , 0.02826289],
       [0.80550385, 0.16551974, 0.02897646],
       [0.8009627 , 0.17080995, 0.02822729],
       [0.81873673, 0.15135206, 0.02991119],
       [0.06814331, 0.23713121, 0.6947254 ],
       [0.03127911, 0.15625574, 0.81246513],
       [0.0711083 , 0.7912048 , 0.13768692],
       [0.07834115, 0.59953356, 0.32212523],
       [0.03217573, 0.16831236, 0.79951185],
       [0.804382  , 0.16745713, 0.02816084],
       [0.04355762, 0.21404305, 0.7423993 ],
       [0.80680764, 0.16366707, 0.02952532],
       [0.03322039, 0.17760608, 0.78917354],
       [0.04380161, 0.18261239, 0.773586  ],
       [0.03315054, 0.16258125, 0.80426824],
       [0.04907218, 0.4068348 , 0.544093  ],
       [0.03103579, 0.1504391 , 0.81852514],
       [0.7947559 , 0.17604725, 0.02919683],
       [0.7991234 , 0.17222452, 0.02865206],
       [0.8174632 , 0.15520875, 0.02732806],
       [0.83257174, 0.12304405, 0.04438426],
       [0.07509347, 0.5650406 , 0.3598659 ],
       [0.8099215 , 0.16203363, 0.02804497],
       [0.8093849 , 0.16324411, 0.02737098],
       [0.05042452, 0.40541443, 0.544161  ],
       [0.075417  , 0.35072663, 0.57385635],
       [0.80895513, 0.16269872, 0.02834615],
       [0.81396425, 0.15807548, 0.02796031],
       [0.8232492 , 0.14662585, 0.0301249 ],
       [0.03991478, 0.22162394, 0.7384613 ],
       [0.10663618, 0.19821243, 0.6951514 ],
       [0.06457121, 0.43900368, 0.49642503],
       [0.8178836 , 0.15106146, 0.03105491],
       [0.8114238 , 0.159798  , 0.02877825]], dtype=float32)

In [89]:
y_pred = model.predict_classes(X_test)

In [90]:
y_pred

array([1, 0, 2, 2, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 2, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 2, 0, 0, 0, 2, 2, 2, 0,
       0], dtype=int64)

In [91]:
y_pred[0:5]

array([1, 0, 2, 2, 1], dtype=int64)

In [92]:
y_test.argmax(axis=1)

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0], dtype=int64)

In [93]:
y_test_val=y_test.argmax(axis=1)

In [94]:
from sklearn import metrics
from sklearn.metrics import accuracy_score
print(metrics.accuracy_score(y_test_val,y_pred))

0.8888888888888888

### Save the Model

In [95]:
model.save('R6Lab_TF_&_Keras.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?